@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&family=Playfair+Display:ital,wght@0,600;1,600&family=Poppins:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
    height: 100%;
    font-size: 62.5%;
}

h1,
.h1 {
    font-size: 3.1rem;
}

h2,
.h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3,
.h3 {
    font-size: 2.1rem;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

nav {
    padding-left: 200px;
}

header .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 20px;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li a:hover {
    color: rgb(71, 157, 255);
}

.container {
    padding: 1rem 2rem;
    margin: 0 auto;
    padding-left: 30%;
    background-color: rgb(39, 69, 78);
    color: rgb(255, 255, 255);
}


img {
    max-width: 100%;
    height: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.grid__item_left {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
}

.grid__item_right {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    padding: 1rem;
}

.about {
    display: block;
    padding: 20px;
    text-align: center;
    justify-content: center;
    height: 20%;
    width: 50%;
    margin: 0 auto;
    border: 2px solid rgb(82, 82, 82);
}

.skills {
    display: block;
    padding: 20px;
    text-align: center;
    justify-content: center;
    height: 20%;
    width: 50%;
    margin: 0 auto;
    border: 2px solid rgb(82, 82, 82);
}

.about h2 {
    padding: 10px;
}

.about p {
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}





footer {
    padding: 20px;
    text-align: center;
}